In [97]:
import pandas as pd
import matplotlib as mp
import seaborn as sb
import numpy as np

n_gram = pd.read_csv('n_gram.csv', names=["Word", "Count"])
n_gram.drop(index=[80, 81, 89, 97, 117, 119, 123, 139, 157, 166, 178, 181, 186, 205, 212, 216, 262, 265, 268, 300, 
                   319, 358, 371, 380, 381, 411, 416, 422, 512, 558, 578, 586, 650, 658, 729, 761, 783, 881, 882, 
                   827, 861, 885, 925, 937, 945, 948
                  ], inplace=True)
n_gram = n_gram[:1000]
n_gram.tail
#n_gram.to_csv('edited_n_gram.csv')

                Word     Count
996            Doing  80821946
997            Loans  80821333
998            Shoes  80755612
999            Entry  80717798
1000            Stay  80694073
1001          Nature  80659036
1002          Orders  80605361
1003    Availability  80583907
1004          Africa  80566883
1005         Summary  80526622
1006            Turn  80328029
1007            Mean  80312172
1008          Growth  79998480
1009           Notes  79958318
1010          Agency  79915539
1011            King  79791224
1012          Monday  79697206
1013        European  79665774
1014        Activity  79633609
1015            Copy  79615682
1016        Although  79579407
1017            Drug  79424420
1018            Pics  79323162
1019         Western  79255339
1020          Income  79240506
1021           Force  79199815
1022            Cash  79172952
1023      Employment  79105156
1024         Overall  78992643
1025             Bay  78967124
1026           River  78843808
1027      Commission  78817488
1028              Ad  78774169
1029         Package  78421168
1030        Contents  78365831
1031            Seen  78365291
1032         Players  78292986
1033          Engine  78078059
1034            Port  78051775
1035           Album  77914316
1036        Regional  77752808
1037            Stop  77749471
1038        Supplies  77574804
1039         Started  77515342
1040  Administration  77515175
1041             Bar  77375075
1042       Institute  77353032
1043           Views  77333335
1044           Plans  77295630
1045          Double  77287578