In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv("Yellow_filtered.csv", names=["Word", "Count"])
top = df.sort_values("Count", ascending=False).reset_index(drop=True)
#top.drop(index=[23], inplace=True)
top.head()

1124

In [2]:
df_unfiltered = pd.read_csv("Yellow.csv", names= ["Word", "Count"])
top_unfiltered = df_unfiltered.sort_values("Count", ascending=False).reset_index(drop=True)
top_unfiltered.head()

  Word  Count
0    I    319
1  And    288
2  The    240
3   It    173
4   To    146

In [3]:
one_hundred = top_unfiltered[:100]
hundred_total = one_hundred["Count"].sum()/ df["Count"].sum()
print(f'{str(hundred_total * 100)[:5]}%')

65.86%

In [5]:
eighty = top_unfiltered[:250]
eighty_total = eighty["Count"].sum()/ df["Count"].sum()
print(f'{str(eighty_total * 100)[:5]}%')
eighty.tail()

81.62%

        Word  Count
245     High      4
246     Sick      4
247   Faster      4
248  Writing      4
249   Trying      4

In [6]:
top.loc[top['Word']=='Trying']

       Word  Count
227  Trying      4

In [7]:
vocab = top[:227]
print(vocab["Word"].unique())

['I' 'And' 'The' 'It' 'To' 'A' 'Is' 'That' 'Of' 'In' 'Me' 'So' 'He' 'For'
 'As' 'But' 'Not' 'All' 'My' 'Was' 'You' 'Have' 'At' 'She' 'One' 'Would'
 'Be' 'Can' 'Said' 'Down' 'On' 'There' 'With' 'If' 'Don' 'Out' 'Are'
 'Thing' 'Get' 'When' 'About' 'Pattern' 'See' 'Room' 'This' 'Paper' 'Had'
 'Am' 'Her' 'By' 'Very' 'Like' 'Little' 'Know' 'Just' 'Now' 'Him' 'Off'
 'Here' 'Window' 'Think' 'Do' 'Say' 'Much' 'Then' 'Good' 'Did' 'We' 'Go'
 'Well' 'What' 'Take' 'They' 'More' 'Over' 'Night' 'Or' 'Only' 'Up'
 'Really' 'Will' 'No' 'Time' 'Could' 'Too' 'Alway' 'Course' 'Make'
 'Wallpaper' 'Long' 'Want' 'Enough' 'Used' 'Great' 'Such' 'Away' 'Let'
 'Feel' 'Dear' 'Doe' 'Than' 'Day' 'House' 'Creep' 'Sleep' 'Even' 'Must'
 'Before' 'Look' 'Try' 'Myself' 'Never' 'Any' 'Fancy' 'His' 'An' 'Those'
 'Come' 'Creeping' 'Around' 'Why' 'Behind' 'Something' 'Better' 'Under'
 'Way' 'Wonder' 'Them' 'Bed' 'Head' 'Alone' 'Find' 'From' 'Has' 'Sometime'
 'Nervous' 'Woman' 'Getting' 'Most' 'Place' 'Quite' 'Believe' 'Yellow'
 'Same' 'Got' 'Other' 'Wall' 'Eye' 'Should' 'First' 'Door' 'Lie' 'Tired'
 'Bit' 'Quiet' 'Bad' 'Nothing' 'Ever' 'Hour' 'Your' 'Turn' 'Back' 'Front'
 'Sun' 'Case' 'Where' 'How' 'Round' 'Talk' 'Children' 'Been' 'Mind' 'Week'
 'Another' 'Into' 'Shall' 'People' 'Keep' 'Moonlight' 'Found' 'Through'
 'Smell' 'Saw' 'Able' 'Garden' 'After' 'Some' 'Daylight' 'Wish' 'Every'
 'Nursery' 'Ve' 'Came' 'Two' 'Looked' 'Were' 'Angry' 'Thought' 'Seem'
 'Change' 'Three' 'Air' 'Shake' 'Watch' 'Tell' 'Outside' 'Deal' 'Road'
 'Work' 'Again' 'Spite' 'Write' 'Reach' 'Until' 'Our' 'Old' 'Shaded'
 'Follow' 'Downstair' 'Laugh' 'Daytime' 'Leave' 'Lovely' 'Worse' 'Sure'
 'Fast' 'Last']

In [12]:
n_gram = pd.read_csv('edited_n_gram.csv', names = ["drop", "Word", "Count"])
n_gram.drop(["drop"], axis=1, inplace=True)
n_gram.drop(index=[0], inplace=True)
y = vocab.assign(vocab_in=vocab.Word.isin(n_gram.Word).astype(int))
t = y[y["vocab_in"] == 0]
t = list(t["Word"].unique())
print(t)

['Don', 'Pattern', 'Alway', 'Wallpaper', 'Dear', 'Doe', 'Creep', 'Sleep', 'Myself', 'Fancy', 'Creeping', 'Behind', 'Wonder', 'Bed', 'Alone', 'Sometime', 'Nervous', 'Woman', 'Quite', 'Believe', 'Wall', 'Eye', 'Door', 'Lie', 'Tired', 'Quiet', 'Nothing', 'Hour', 'Round', 'Mind', 'Moonlight', 'Smell', 'Saw', 'Daylight', 'Wish', 'Nursery', 'Ve', 'Came', 'Looked', 'Angry', 'Seem', 'Shake', 'Outside', 'Deal', 'Spite', 'Reach', 'Shaded', 'Follow', 'Downstair', 'Laugh', 'Daytime', 'Leave', 'Lovely', 'Worse']

In [13]:
print(len(t))

54

In [15]:
print(f'Overall word count of book: {df["Count"].sum()}')

Overall word count of book: 5955